.trackList {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 5px;
}

.top {
  display: flex;
  align-items: center;
}

.top img {
  width: 50px !important;
}

.trackName {
  margin-left: 10px;
  color: #f1f1f1;
  font-size: 14px;
}

.trackSpan {
  display: block;
  font-size: 12px;
  color: #fff;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    color: #fff;
}

.bottom i {
    font-size: 18px;
}

.bottom i:hover {
    color: #f1f1f1;
    transition: 0.3s;
    cursor: pointer;
}

.bottom input {
    position: relative;
    height: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
    background: rgba(255, 255, 255, 0.1);
    appearance: none;
}

/* Chrome & Safari */
.bottom input::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    background: #43ce30;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    z-index: 1;
    transition: width 250ms linear;
}

.bottom input::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 10px;
    height: 15px;
    border-radius: 10px;
    background: #f1f1f1;
    /* border: 2px solid #000; */
    cursor: pointer;
    position: relative;
    margin: -2px 0 0 0;
    z-index: 3;
    box-sizing: border-box;
    transition: all 250ms linear;
}

/* Firefox */
.bottom input::-moz-progress-bar {
    background: #43ce30;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    z-index: 1;
    transition: width 250ms linear;
}

.bottom input::-moz-range-thumb {
    background: #43ce30;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    z-index: 1;
    transition: width 250ms linear;
}

@media screen and (max-width: 550px) {
  .trackList {
    display: none;
  }
  
}

