.playListContainer {
    cursor: pointer;
    margin: 5px 0;
}

.nameContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    margin-bottom: 10px;
}

.nameContainer p {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}

.nameContainer i {
    cursor: pointer;
    color: #f1f1f1;
}

.playListScroll {
    height: 140px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
}

.playList {
    display: flex;
    align-items: center;
    color: #fff;
    margin: 10px 0;
}

.playList:hover {
    color: #f1f1f1;
    transition: 0.3s;
}

.playList i {
    font-size: 18px
}

.list {
    margin-right: 15px;
}

.trash {
    margin-left: auto;
}

.playList p {
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline;
}


@media screen and (max-width: 740px) {
    .playListContainer  {
      display: none;
    }
    
  }